<%= simple_form_for @article_answer, url: article_article_answers_path, local: true do |f| %>
  <% if @article_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article_answer.errors.count, "error") %> prohibited this article_answer from being saved:</h2>

      <ul>
      <% @article_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.input :answer, as: :text%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
