<p id="notice"><%= notice %></p>

<h1>Article Answers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_answers.each do |article_answer| %>
      <tr>
        <td><%= link_to 'Show', article_answer %></td>
        <td><%= link_to 'Edit', edit_article_answer_path(article_answer) %></td>
        <td><%= link_to 'Destroy', article_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Answer', new_article_answer_path %>
