<%= simple_form_for @article, local: true do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p><%= @article.question %></p>
	<%= f.input :question %>
	<%= f.input :tag %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
