<p id="notice"><%= notice %></p>

<h1> <%= link_to 'Knowledge Base', root_path %></h1>
<span class="d-inline">
<%= render 'search_form'%>
<%= link_to new_article_path do %>
	<%= icon('fas', 'plus-circle', class: 'strong') %>
<% end %>
</span>


<br/>
