
<main class="d-flex align-self-center justify-content-center">
	<div class="flex-column justify-content-center align-items-center">
		<%= render 'header' %>
	</div>
</main>

<br>

<% if @articles %>
<section class="d-flex flex-column">
	<% @articles.each do |article| %>
		<div class="d-flex flex-row shadow-lg p-3 mb-5 bg-white rounded">
				<span class="align-items-center">
					<%= link_to [article] do %>
						<p> <%= article.question  %> </p>
					<% end %>
					<p class="font-weight-bold"> #<%= article.tag %> </p>
					<p> <%= article.excerpt %>... </p>
				</span>
			<span >
				<%= link_to edit_article_path(article) do %>
					<%= icon('fas', 'edit')%>
				<% end %>

				<%= link_to [article], method: :delete, data: { confirm: 'Are you sure?' } do %>
					<%= icon('fas', 'trash')%>
				<% end %>
			</span>
		</div>
	<% end %>
</section>
<% end %>
