<header class="col-lg-6 col-md-8 align-self-center">
<%= render 'header' %>
</header>

<% if @results %>
<% if @results.length == 0%>
<section class="d-flex flex-column">
	<div >
		<p class="font-weight-bold"> No results found! </p>
	</div>
</section>
<% else %>
<section class="d-flex flex-column">
	<% @results.each do |article| %>
		<div class="d-flex flex-row shadow-lg p-3 mb-5 bg-white rounded">
				<span class="align-items-center">
					<%= link_to [article] do %>
						<p> <%= article.question  %> </p>
					<% end %>
					<p class="font-weight-bold text-muted"> #<%= article.tag %> </p>
					<p> <%= article.excerpt %>... </p>
				</span>
			<span >
				<%= link_to edit_article_path(article) do %>
					<%= icon('fas', 'edit')%>
				<% end %>

				<%= link_to [article], method: :delete, data: { confirm: 'Are you sure?' } do %>
					<%= icon('fas', 'trash')%>
				<% end %>
			</span>
		</div>
	<% end %>
</section>
<% end %>
<% end %>
