<h1> <%= link_to 'Knowledge Base', root_path %></h1>
<br />

<p id="notice"><%= notice %></p>
<h1> <%= @article.question %> </h1>

<div class="d-flex flex-row align-items-center">
<div class="align-self-center mx-2">
	<%= link_to "Edit question", edit_article_url(@article), class: "btn btn-secondary" %>
</div>
<% unless @article.has_answer? %>
<div class="align-self-center mx-2">
	<%= link_to "Add an answer", new_article_article_answer_url(@article.id), class: "btn btn-secondary" %>
</div>
<% end %>

<% if @article.has_answer? %>
<div class="align-self-end mx-2">
	<%= link_to edit_article_article_answer_url(@article.id), class: "btn btn-secondary" do %>
		<%= icon('fas', 'edit')%> Edit Answer
	<% end %>
</div>
<% end %>
</div>
<br />
<p> <%= @article.translation %></p>
